.countdown {
  display: flex;
  flex-direction: column;
  align-items: start;


}

.timer {
  display: flex;
  margin-top: calc(20px * var(--scale, 1));
  gap: calc(10px * var(--scale, 1));
}

.timeBox {
  background-color: rgba(255, 255, 255, 0.2);
  width: calc(60px * var(--scale, 1));
  height: calc(60px * var(--scale, 1));
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-right: calc(5px * var(--scale, 1));
}

.number {
  color: white;
  font-size: calc(1rem * var(--scale, 1));
  font-family: SFProDisplay;
  position: absolute;
  top: calc(15px * var(--scale, 1));
  left: calc(10px * var(--scale, 1));
}

.unit {
  color: #ccc;
  font-size: calc(0.8rem * var(--scale, 1));
  position: absolute;
  top: calc(20px * var(--scale, 1));
  left: calc(37px * var(--scale, 1));
}

.colon {
  color: #ccc;
  font-size: calc(1.5rem * var(--scale, 1));
  position: relative;
  top: calc(5px * var(--scale, 1));
}