@import "tailwindcss";



:root {
  --scale: 1; /* Đảm bảo biến này được định nghĩa */
  --font-sans: 'SFProDisplay', sans-serif;
  --background: #000;
  --foreground: #757575;

  /* FONT SIZE */
  --xs: 12px;
  --sm: 14px;
  --md: 16px; /* default font size */
  --lg: 20px;
  --xl: 30px;
  --xxl: 32px;

  /* COLORS */
  --color-black-1: #111;
  --color-black-2: #1e1e1e;
  --color-gray-1: #a1a1aa;
  --color-gray-2: #2c2c2c;
  --color-gray-3: #222;
  --color-gray-4: #5a5a5a;
  --color-gray-5: #757575;
  --color-white-1: #fff;
  --color-white-2: #f3f3f3;
  --color-white-3: #fafafa;
  --color-red-1: #823536;
  --color-red-2: #ff5c5f;
  --color-green-1: #cdfebc;
  --color-green-2: #b3fd9b;
  --color-yellow-1: #ffdf94;
  --color-yellow-2: #ffeb3b;
  --color-pink-1: #ffe3fc;
  --color-pink-2: #ffccfa;
  

}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--md);

}



@font-face {
  font-family: "SFProDisplay";
  src: url("/font/SF-Pro-Display-Regular.woff2") format("woff2"),
       url("/font/SF-Pro-Display-Regular.woff") format("woff"),
       url("/font/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* Trong file globals.css hoặc inline */
.carousel-button {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
  color: white;
  transition: background-color 0.3s;
}

.carousel-button:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.3);
}

.carousel-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}