
.tabActive {
  background-color: var(--color-white-1);
  color: var(--color-black-2);
  border: solid 1px var(--color-gray-2);
  border-radius: 4px;
  padding:  5px 15px;
}

.tabNav {
  height: 37px;
  width: fit-content;
  border: solid 1px #2c2c2c;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  position: relative;
  left: 20px;

}


.tabNavItem {
  font-style: var(--sm);
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;
  color: #5a5a5a;

}

.gradientShadow {
  position: relative;
}

.gradientShadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #CDFEBC, #FFDF94, #FFE3FC);
  filter: blur(100px);
  transform: scale(1.1);
}