



.tabNav {
  display: flex;
  align-items: center;
  width: 240px;
  height: 37px;
  border: solid 1px #2c2c2c;
  border-radius: 4px;
  padding: 0px 5px;

}


.tabNavItem {
  font-size: var(--sm);
  color: #5a5a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;


}

.tabNavItem a {
  padding: 5px 10px;
  text-decoration: none;
}


.tabActive {
  background-color: var(--color-white-1);
  color: var(--color-black-2);
  border-radius: 4px;
}

.gradientShadow {
  position: relative;
}

.gradientShadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #CDFEBC, #FFDF94, #FFE3FC);
  filter: blur(100px);
  transform: scale(1.1);
}