.header span:nth-child(1) {
 text-align: left;
}

.header span:nth-child(2) {
 text-align: center;
}

.header span:nth-child(3) {
 text-align: center;
}

.header span:nth-child(4) {
 text-align: center;
}

.header span:nth-child(5) {
  text-align: right;
  right: -35px;
}


/* styles/VaultCard.css */
.vaultCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111; /* Nền xám đậm */
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  height: 85px;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #222;
}


.vaultInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 3;



}

.logo {
  border-radius: 10%;
}

.vaultTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-center;
}

.vaultName {
  font-size: 22px;
  color: #fff;

}

.yieldSource {
  font-size: 12px;
  color: #a0a0a0;


}

.prizeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 2;
  padding-right: 10px;


}

.prizeAmount {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.prizeApr {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.upTo {
  color: #757575;
  font-size: 14px;
}

.prize {
  font-size: 20px;
  color: #fff;
}

.apr {
  font-size: 20px;
  color: #fff;
}

.inApr {
  font-size: 14px;
  color: #757575;

}


.vaultProgress {
  flex: 2;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100%; /* Đảm bảo chiều cao đủ để căn giữa */


}


.winChances {
  /* Nếu có thêm style, đảm bảo không ghi đè justify-content hoặc align-items */
  width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng để căn giữa chính xác */
  text-align: center; /* Dùng cho trường hợp hiển thị '—' */
}


.depositsContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

.totalDeposits {
  font-size: 20px;
  color: #fff;
}

.totalDepositsFullNum {
  font-size: 14px;
  color: #757575;
}

.depositButton {
  flex: 3;
  text-align: end;



}